body
{
    margin:0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
h1
{
    font-size: 60px;
}
h2
{
    font-size: 40px;
}
span
{
    color: tomato;
}
.hire-me
{  
    text-decoration: none; 
    background-color:rgb(247, 101, 75);
    padding:25px 60px;
    border-radius: 10px;
    color :white;
    font-weight: 700px;
}
.latest
{
    text-align: center;
    color: black;
}
.highlight
{
    color: orange;
}
.first-half
{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img
{
    width:100%;
}
.box{
    width: 28%;
    box-shadow: 10px 20px 30px rgb(228, 222, 222);
    float: left;
    background-color: white;
    border: 10% solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.box-part{
    
    padding-bottom: 100px;
    height: 700px;
    background-color: rgb(248, 248, 248);
    padding-left: 150px;   
}
.box img{
    width: 100%;
}

section
{
    padding: 2% 5%;
    padding-bottom: 100px;
    height: 400px;
}